.box{
    background-color: blue;
    height: 200px;
    width: 0x;
    border: solid ;
}
.box1{
        background-color: rgb(255, 123, 0);
    height: 90px;
    width: 199px;
    border: solid red;
}
.box2{
    background-color: rgb(255, 123, 0);
    height: 90px;
    width: 199px;
    border: solid red;
}
.box3{
    background-color: rgb(255, 123, 0);
    height: 90px;
    width: 199px;
    border: solid red;
}.box3{
    background-color: rgb(255, 123, 0);
    height: 90px;
    width: 199px;
    border: solid red;
}.box3{
    background-color: rgb(255, 123, 0);
    height: 90px;
    width: 199px;
    border: solid red;
}.box3{
    background-color: rgb(255, 123, 0);
    height: 90px;
    width: 199px;
    border: solid red;
}.box3{
    background-color: rgb(255, 123, 0);
    height: 90px;
    width: 199px;
    border: solid red;
}.box3{
    background-color: rgb(255, 123, 0);
    height: 90px;
    width: 199px;
    border: solid red;
}